* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: #ffffff;
}

#title {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 30px;
  background-color: #0c334c;
  color: #fff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 10px 20px;
  margin: 0;

  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 110; */
}

#finne {
  width: 300px;
  max-width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
  padding-top: 550px;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  transition: transform 0.2s;
}

.post-container:hover {
  transform: scale(1.02);
}

h3 {
  color: darkblue;
  font-size: 20px;
}

.tv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 65%;
  margin: 0 auto;
  background-color: black;

  position: fixed;
  top: 0;
  left: auto;
  z-index: 1000;
}

#player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 450px;
  margin: 0 auto;

  padding-bottom: 5px;
}

#youtubePlayer {
  width: 900px;
  height: 450px;

  padding-bottom: 5px;
}

@media (max-width: 780px) {
  #title {
    width: 100%;
    font-size: 18px;
    padding-top: 0;
  }
  #finne {
    width: 150px;
    max-width: 90%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    
  }


  #video,
  #youtubePlayer,
  #player-container {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 1000;
    background: rgb(0, 0, 0);
  }

  #container {
    margin-top: -300px;
  }

  .post-container {
    width: 120px;
    padding: 5px;
  }

  .post-container img {
    width: 60px;
  }

  .post-container h3 {
    font-size: 12px;
  }
}
